* {
    margin: 0;
}

html{
    height: 100%
}

body {
    height: 100%;
    padding-top: 50px; 
    padding-bottom: 50px;
}

hr {
      border: none;
      height: 1px;
      /* Set the hr color */
      color: #333; /* old IE */
      background-color: #333; /* Modern Browsers */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 200px; /* .push must be the same height as .footer */
}

.footer {
    background: url("china.png");
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#notes {
    height: 100px;
    overflow:hidden;
    overflow-y:scroll;
    padding: 10px;
    background-color: #FFFFCC;
    border-radius: 10px;
}

#myevents {
    height: 150px;
    overflow:hidden;
    overflow-y:scroll;
    padding: 10px;
    background-color: #FFFFCC;
    border-radius: 10px;
}