{% extends "base.html" %}

{% block text%}
<br><br>
<b>WHO ARE WE?</b><br>
<b>Peep</b> is revolutionizing the way people interact. By seamlessly finding events for our users, we are building relationships, saving money for our customers, and making the world more accessible. From our founding in 2015 by Tyler Wang, Terrance Liang, Cindy Wu, and Ling Dong, Peep's rapidly expanding global presence continues to bring people closer through meetups.<br><br><br>

<b>WHAT DO WE DO?</b><br>
Peep is a website where anyone can make an <b>event</b>. Whether you want to split a pizza, organize a discount trip to a museum, or have an extra movie ticket that you would be happy to share with someone else, Peep allows you to share your needs effortlessly.<br><br><br>

<b>HOW DO I PEEP?</b><br>
It's easy!<br>
First, sign up for Peep (it takes less than a minute!). You can upload a picture of yourself through <b>Facebook</b>.<br>
Then, search for events! We have events for all occasions, and all events have tags. Just use our search bar to look for your specific needs. Once you find an event for you, just make a request and wait for the host to Peep you!<br>
Don't worry if you don't find an event for you! All users can make events through the <u>Create</u> button. Just enter a name for your event, the time it will take place, a brief description of the event, and tags so that other people can find your event easily! To make it convenient for our users. Peep includes a <b>Google Map</b> to make your location more precise. And you're finished! Watch as other people Peep your event!<br><br>

Want to get to know your Peeps? Just shoot them a <b>message</b> from your home page! We have a messaging system for Peeps who want to talk or stay in contact after an event. At Peep, we try our best to make it easy for our Peeps to access their information. You can view other Peeps' profiles and send them a message instantly!<br>

You can easily access your events in the <b>My Events</b> dropdown menu. In addition, your home page displays all the events that you have created, attended, or are still deciding on.<br><br><br>

<b>STILL HAVE QUESTIONS?</b><br>
No problem! <b>Shoot our team a message at <a href="https://www.facebook.com/TLiang518">https://www.facebook.com/TLiang518</a></b><br>
We are more than happy to answer any concerns you may have ^_^<br><br><br>

<b>THANK YOU FOR BEING A PEEP!</b>


<br><br>
<h4>- Terrance, Ling, Cindy, Tyler</h4>
<br><br>
Find us on <a href="https://github.com/cinwu/peep">GitHub</a>!
{% endblock %}
