{% extends 'base.html' %}
{% block text %}

<!--this search variable is for distinguishing between when the user used the search bar to find the event or not. There were a few problems without this distinction-->
{% if search %}
<h2> Events </h2><hr>
<i> {{ data|count }} event(s) found. </i><br><br>

{% elif data|count == 1 and search != "" %}
<h2> {{ data[0][2] }} </h2> {% if button == "pending" %} PENDING ADMIN APPROVAL {% endif %} {% if button == "cancel" %} ACCEPTED {% endif %}    
<form method="post">
  {% if button=="none" %}
  <a href='/login'>Log in</a> to join this event!
  {% elif button=="creator" %}
  You created this event.
  {% elif button=="request" %}
  <input type="submit" name="request" value="Request to Join">
  {% elif button=="pending" %}
  <input type="submit" name="cancel" value="Cancel">
  {% else %}
  <input type="submit" name="leave" value="Leave Event">
  {% endif %}
</form>
<hr>

{% endif %}

{% if search and data|count == 0 %}
<h4>We couldn't find any events!</h4>
<br>
Why don't you try <a href='/create'>creating</a> one?
{% endif %}

{% for event in data %}
<div class='row'>
  <div class='col-md-offset-1'>
    {% if search or data|count != 1 %}
    <h3><a href="/events/{{ event[0] }}">{{ event[2] }}</a></h3>
    {% endif %}
    <i>Posted by <a href="/profile/{{event[3]}}">{{ event[3] }}</a> &nbsp {{ event[1] }}</i><br>
    <b> Location: </b> {{ event[5] }} <br>
    <b> Time: </b> {{ event[6] }} <br>
    <b> Description: <br></b>{{ event[4] }}<br>
    <b>Tags: </b> {{ event[7] }}<br>
  </div>
</div>
<br>
{% endfor %}

{% if data|count == 1 and search != "" %}
<h5> Attending </h5>
<ul>
{% for p in accepted %}
<li>{{p}}</li>
{% endfor %}
</ul>
  
{% endif %}

{% endblock %}
