{% extends 'base.html' %}
{% block text %}

<!--this search variable is for distinguishing between when the user used the search bar to find the event or not. There were a few problems without this distinction-->
<div id='outputDiv'></div>{% if oneevent==False %}
<h2> Events </h2><hr>
<i> {{ data|count }} event(s) found. </i><br><br>

{% elif oneevent==True and search != "" %}
<h2> {{ data[0][2] }} </h2> {% if button == "pending" %} <div class="alert alert-warning" role="alert"> <span class="glyphyicon glyphicon-hourglass"></span> Pending admin approval.</div> {% endif %} {% if button == "cancel" %} <div class="alert alert-success" role="alert"> <span class="glyphicon glyphicon-ok-sign"></span> Accepted! </div>    {% endif %}
<form method="post">
  {% if button=="none" %}
  <a href='/login'>Log in</a> to join this event!
  {% elif button=="creator" %}
  You created this event. &nbsp &nbsp<a href="/eventedit/{{data[0][0]}}">Edit</a>
  {% elif button=="request" %}
  <input type="submit" class="btn" name="request" value="Request to Join">
  {% elif button=="pending" %}
  <input type="submit" class="btn" name="cancel" value="Cancel">
  {% else %}
  <input type="submit" class="btn" name="leave" value="Leave Event">
  {% endif %}
</form>
<hr>

{% endif %}

{% if search and data|count == 0 %}
<h4>We couldn't find any events!</h4>
<br>
Why don't you try <a href='/create'>creating</a> one?
{% endif %}

{% for event in data %}
<div class='row'>
  <div class='col-md-offset-1'>
    {% if search or oneevent == False %}
    <h3><a href="/events/{{ event[0] }}">{{ event[2] }}</a></h3>
    {% endif %}
    <b> Location: </b> {{ event[5] }} <br>
    <b> Time: </b> {{ event[6] }} <br>
    <b> Description: <br></b>{{ event[4] }}<br>
    <b>Tags: </b> 
    {% for tag in tags[event[0]-1] %}
    <a href="/events/tags/{{tag}}">{{tag}}</a> &nbsp
    {% endfor %}<br>
    <i>Hosted by <a href="/profile/{{event[3]}}">{{ event[3] }}</a> &nbsp {{ event[1] }}</i><br>
   
  </div>
</div>
<br>

{% if oneevent==True and search == null %}
<body onload="address('{{event[5]}}')">
<div id="map-canvas"></div>
</body>

<h5> Attending </h5>
<ul>
{% for p in eaccepted %}
<li><a href="/profile/{{p}}">{{p}}</a></li>
{% endfor %}
</ul>

{% endif %}

{% endfor %}

{% endblock %}
