{% extends 'base.html' %}
{% block text %}

{% if loggedin == True %}

<h2>Create an Event </h2>
<hr>
<br>
<form method="post">
  <input type="text" name="event" placeholder="Event Name" maxlength="50"> <br>
  <input type="text" name="location" placeholder="Location" maxlength="30">
  <input type="date" name="date">
  <input type="time" name="time"><br>
  <input type="text" name="description" placeholder="Description" maxlength="500">
  <br>
  <input type="text" name="tags" placeholder="Tags" maxlength="100"> 
  <input type="submit" name="submit" value="Create Event">
</form>

{% endif %}

{% if loggedin == False %}
<h1> Login to create events! </h1>
{% endif %}

{% endblock %}
