{% extends 'base.html' %}
{% block text %}

{% if loggedin == True %}

<h2>Create an Event </h2>
<hr>
<br>
<form method="post" id="createEvent">
  <input required type="text" name="event" id="event" placeholder="Event Name" maxlength="50"> <br>

  <input required type="date" name="date" id="date">
  <input required type="time" name="time" id="time"><br>
  <input required type="text" name="description" id="des" placeholder="Description" maxlength="500">
  <br>
  <input type="text" name="tags" id="tags" placeholder="Tags" maxlength="100"> 
  <br>
  <input required type="text" id="address" name="location" placeholder="Location" maxlength="30">
  <input type="button" name="submit" value="Create Event" id="createE"><br>

</form>


<div id="map-canvas"></div>

{% endif %}

{% if loggedin == False %}
<h4> <a href='/login'>Login</a> to create events! </h4>
{% endif %}

{% endblock %}
