{% extends 'base.html' %}
{% block text %}

{% if loggedin == True %}

<h2>Create an Event </h2>
<hr>
<br>
<form method="post">
  <input type="submit" name="submit" value="Create Event"><br>
  <input required type="text" name="event" placeholder="Event Name" maxlength="50"> <br>

  <input required type="date" name="date">
  <input required type="time" name="time"><br>
  <input required type="text" name="description" placeholder="Description" maxlength="500">
  <br>
  <input type="text" name="tags" placeholder="Tags" maxlength="100"> 
  <br>
  <input required type="text" id="address" name="location" placeholder="Location" maxlength="30">
  <input type="button" value="Find Location" onclick="codeAddress()">
</form>


<div id="map-canvas"></div>

{% endif %}

{% if loggedin == False %}
<h4> <a href='/login'>Login</a> to create events! </h4>
{% endif %}

{% endblock %}
