{% extends "base.html" %}
{% block text %}

<h2>Edit Profile</h2>
<form action="edit" method="post">
  <table>
    <tr>
      <td> Username: </td> <td> {{username}} </td>
    </tr>
    <tr>
      <td> First Name: </td> <td> <input required type="text" name="first" placeholder="{{first}}"></input></td>
    </tr>
    <tr>
      <td> Last Name: </td> <td> <input required type="text" name="last" placeholder="{{last}}"></input></td>
    </tr>
    Email: <input required type="email" name="email"></input><br>
    Confirm Email: <input required type="email" name="email2"></input><br>
    Phone Number: <input required type="number" pattern=".{10,10}" name="phone"></input><br>
    Facebook URL*: <input type="text" name="facebook" id="fb"></input><br>
  </table>
    
  <button type="submit">Save</button><br><br><br><br><br>
  
</form>


{% endbock %}
