{% extends "base.html" %}
{% block text %}
<br><br>
<h2>{{user}}'s Profile</h2>

{% if access %}

<form method="POST">
<table id='profile' class='table'>
  <tr>
    {% if field == "name" %}
    <td width='10%'><b>First Name</b></td><td><input required type="text" name="first" value="{{first}}"></input></td></tr><tr>
    <td width='10%'><b>Last Name</b></td><td><input required type="text" name="last" value="{{last}}"></input></td>
    {% endif %}
    {% if field == "phone" %}
    <td width='10%'><b>Phone</b></td><td><input required type="tel" name="phone" value="{{phone}}"></input></td>
    {% endif %}
    {% if field == "email" %}
    <td width='10%'><b>Email</b></td><td><input required type="email" name="email" value="{{email}}"></input></td>
    {% endif %}
    {% if field == "facebook" %}
    <td width='10%'><b>Facebook</b></td><td><input type="text" name="facebook" value="{{facebook}}"></input></td>
    {% endif %}

  </tr>
</table>
<table><tr><td>
<button type="submit" class="btn">Save</button></td><td>
<button class="btn"><a href="/profile/{{username}}">Cancel</a></button></td></tr></table>

</form>

{% endif %}
{% if access == False %}
    <font size=20 face="License Plate"> You do not have access rights! </font>
{% endif %}

{% endblock %}
