{% extends "base.html" %}

{% block text %}
<h2>{{pusername}}'s Profile</h2>

<table id='profile' class='table'>
  <tr>
    <td width='10%'><b>Name</b></td>
    <td>{{pfirst}} {{plast}}<br></td>
  </tr>
  <tr>
    <td><b>Phone</b></td>
    <td>{{pphone}}<br></td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td>{{pemail}}<br></td>
  </tr>  
  <tr>
    <td><b>Facebook</b></td>
    <td>{{fb}}<br></td>
  </tr>  
  <tr>
    <td><b>Events Participating in </b> </td>
    <td> {% for a in paccepted %}
      <a href="/events/{{a}}"> {{events[a][2]}} </a> <br>
      {% endfor %}
    </td>
  </tr>

  
</table>    


{% endblock %}

