{% extends "base.html" %}

{% block text %}
<center>
  {% if loggedin == True %}
  <font size=20 face="License Plate">You are already logged in!</font><br>
  <br><br>
  <a href="/logout" id="white" type = "submit"> Logout </a>
  {% endif %}

  {% if page==2 or page==3 and loggedin==False %}
  <script>
    $( "#fb" ).tooltip({ content: "<img src='../static/demo.png'" });
								 </script>
  <div class="turq">
    <!--- <font size=20 face="License Plate">Register</font> -->
    <h2> Register </h2>
    <font color="red"><b>{{reason}}</b></font>
    <form action="register" method="post">
      Username: <input required type="text" name="username"></input>
      <br>
      Password: <input required type="password" name="password"></input><br>
      Confirm Password: <input required type="password" name="password2">
      <br>
      <br>
      First Name: <input required type="text" name="first"></input><br>
      Last Name: <input required type="text" name="last"></input><br><br>
      Email: <input required type="email" name="email"></input><br>
      Phone Number: <input required type="number" pattern=".{10,10}" name="phone"></input><br>
      Facebook URL*: <input type="text" name="facebook" id="fb"></input><br>

     <br><br>*Note: Optional fields. You can update these in your profile later.
      {% if page == 2%}

      {% endif %}
      <div>
	<style scoped>
	  .button-small {
	  font-size: 85%;
	  }
	</style> <br>
	<button type="submit">Register</button><br><br><br><br><br>
      </div>
    </form>
    {% endif %}

    {% if page==1 %}
    <font size=20 face="License Plate"> You have successfully registered!</font>
    {% endif %}
</center>
{% endblock %}

</div>
</div>
